<SCRIPT src="../js/calendar.js" type=text/javascript></SCRIPT>
<SCRIPT src="../js/calendar-en.js" type=text/javascript></SCRIPT>
<SCRIPT src="../js/calendar-start.js" type=text/javascript></SCRIPT>
<LINK title=win2k-1 media=all href="../css/calendar-blue.css" type=text/css rel=stylesheet>

<h1>Periodic Report</h1>
<p class="error">${vars.error?default("")}</p>
<form method="post">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="50%"><input type="radio" name="searchoption" value="interval" checked="true">
      Date, From :
        <input name="start" type="text" id="start"> 
        <IMG onclick="return showCalendar('start', 'y-mm-dd')" src="../img/calendar.gif"> (yyyy-mm-dd) </td>
        <td width="50%">to :
            <input name="end" type="text" id="end"> 
			<IMG onclick="return showCalendar('end', 'y-mm-dd')" src="../img/calendar.gif">
(yyyy-mm-dd)			</td>
      </tr>
      <tr>
        <td><input type="radio" name="searchoption" value="month">
      Month :
        <select name="month" id="month">
          <option value="1">January</option>
          <option value="2">February</option>
          <option value="3">March</option>
          <option value="4">April</option>
          <option value="5">May</option>
          <option value="6">June</option>
          <option value="7">July</option>
          <option value="8">August</option>
          <option value="9">September</option>
          <option value="10">October</option>
          <option value="11">November</option>
          <option value="12">December</option>
        </select>
&nbsp;&nbsp;</td>
        <td>Year :
          <select name="year" id="year">
            <option value=2005>2005</option>
			<option value=2006>2006</option>
			<option value=2007>2007</option>
			<option value=2008>2008</option>
			<option value=2009>2009</option>
			<option value=2010>2010</option>
			<option value=2011>2011</option>
			<option value=2012>2012</option>
			<option value=2013>2013</option>
			<option value=2014>2014</option>
			<option value=2015>2015</option>
          </select>
</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>            <input type="submit" name="submit" value="View"/></td>
      </tr>
    </table>
</form>
<br /><br />
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="34%">Total Duration</td>
    <td width="66%">${(vars.report.totalDurationString())?default("0")}</td>
  </tr>
  <tr>
    <td>Total Bill</td>
    <td>${(vars.report.totalCharge())?default("0")} </td>
  </tr>
</table>
<br /><br />
<table id="members" width="100%" border="1" align="center">
  <thead>
  <tr>
    <th width="5%">ID</th>
    <th width="15%">Username</th>
    <th width="20%">Full Name</th>
    <th width="15%">Email</th>
    <th width="15%">Total Duration</th>
    <th width="15%">Total Bill</th>
    <th width="15%">&nbsp</th>
  </tr> 
  </thead>   
  <tbody>
  <#list vars.report.entries as member> 
  <tr>
    <td>${member_index+1}</td>
    <td>${member.username}</td>
    <td>${member.fullname}</td>
    <td>${member.email}</td>
    <td>${member.totalDurationString()?default("")}</td>
    <td>${member.totalCharge()}</td>
    <td>&nbsp;
    	 
	</td>
  </tr>  
  </#list> 
  </tbody>
</table>