<html>
<head>
<title>.:: Login First ::.</title>
    <style type="text/css" media="screen">
	@import url("../css/common-custom.css");
    </style>
</head>

<body>
<form action="" method="post">
<br />
<br />
  	
    <TABLE WIDTH=300 BORDER=0 align="center" CELLPADDING=0 CELLSPACING=0>
      <TR>
        <TD WIDTH=19 HEIGHT=34> <IMG SRC="../img/img_1_1.gif" WIDTH=19 HEIGHT=34 ALT=""></TD>
        <TD HEIGHT=34 align="center" valign="middle" background="../img/img_1_2.gif"><p class="title">User Login</p></TD>
        <TD WIDTH=21 HEIGHT=34> <IMG SRC="../img/img_1_3.gif" WIDTH=21 HEIGHT=34 ALT=""></TD>
      </TR>
      <TR>
        <TD background="../img/img_2_1.gif"></TD>
        <TD align="right"> <br />
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="2" align="center" valign="top"></td>
              </tr>
              <tr>
                <td width="44%"><p>User Name</p></td>
                <td width="56%"><input type="text" name="username" size="20" maxlength="20" class="text"/></td>
              </tr>
              <tr>
                <td><p>Password</p></td>
                <td><input type="password" name="password" size="20" maxlength="20" class="text"/></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td><input type="submit" name="login" value="Login" class="button"/></td>
              </tr>
		<tr>
                <td colspan=2 align=center><p class="error">${error?default("")}</p></b></td>
              </tr>

            </table>
            <p>[<a href="../index.html">back</a>] <br />
          </p></TD>
        <TD background="../img/img_2_3.gif"></TD>
      </TR>
      <TR>
        <TD WIDTH=19 HEIGHT=20> <IMG SRC="../img/img_3_1.gif" WIDTH=19 HEIGHT=20 ALT=""></TD>
        <TD HEIGHT=20 background="../img/img_3_2.gif"></TD>
        <TD WIDTH=21 HEIGHT=20> <IMG SRC="../img/img_3_3.gif" WIDTH=21 HEIGHT=20 ALT=""></TD>
      </TR>
    </TABLE>
</form>
